:root {
  --primary-color:#887BB0;
  --secondary-color:#F4B9B8 ;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 1rem/1.5 'Arial', sans-serif;
  background: var(--primary-color);
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}

#main-header {
  background: var(--secondary-color);
  padding: 4rem 0;
}
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.3rem;
}

#timeline ul {
  background: var(--primary-color);
  padding: 50px 0;
}

#timeline ul li {
  list-style: none;
  position:relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

/* boxes */
#timeline ul li div {
 position: relative;
 bottom: 0;
 width: 400px;
 padding: 1rem;
 background: var(--secondary-color);
 transition: all 0.5s ease-in-out;
}

/* right side */
#timeline ul li:nth-child(odd) div {
  left:40px;
}

/* left side */
#timeline ul li:nth-child(even) div {
  left: -434px;
}

/* Dots */
#timeline ul li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: var(--secondary-color);
  transform:translateX(-50%);
  border-radius: 50%;
  transition: background 0.5s ease-in-out;
}